:root{--ttn-primary-050:#fafcff;--ttn-primary-100:#f3faff;--ttn-primary-200:#def0ff;--ttn-primary-main:#26a0ff;--ttn-primary-600:#008df9;--ttn-primary-dark:#001859}:root{--tti-primary-050:#fbfcff;--tti-primary-100:#f2f6ff;--tti-primary-200:#d8e3ff;--tti-primary-main:#0047ff;--tti-primary-600:#003cd8;--tti-primary-dark:#001859}:root{--ttc-primary-050:#fafcff;--ttc-primary-100:#f2f2ff;--ttc-primary-200:#d8d8ff;--ttc-primary-main:#0001ff;--ttc-primary-600:#0000d8;--ttc-primary-dark:#001859}:root{--tts-primary-050:#fbfcff;--tts-primary-100:#f2f6ff;--tts-primary-200:#d8e3ff;--tts-primary-main:#0047ff;--tts-primary-600:#003cd8;--tts-primary-dark:#001859}:root{--red-error-600:#d44c4c;--red-error-500:#f9595a;--red-error-100:#fed5d6;--green-validation-600:#1eaa2b;--green-validation-500:#24c833;--green-validation-100:#c7f1cb;--orange-warning-600:#da9c3b;--orange-warning-500:#ffb746;--orange-warning-100:#ffedd0;--blue-information-600:#3462da;--blue-information-500:#3d73ff;--blue-information-100:#e3ebff}:root{--black:#000;--grey-900:#29292b;--grey-700:#616063;--grey-500:#929196;--grey-400:#b7b6bc;--grey-300:#d4d3d9;--grey-200:#e8e7ec;--grey-100:#f5f4f8;--bone:#f7f6f1;--white:#fff}:root{--c-subtle-01:#ddd;--c-invert-text-01:#fff}.theme-ttn{--c-background-01:var(--ttn-primary-200);--c-background-02:var(--ttn-primary-100);--c-background-03:var(--ttn-primary-050);--c-background-04:var(--white);--c-interactive-01:var(--ttn-primary-dark);--c-interactive-02:var(--ttn-primary-600);--c-interactive-03:var(--ttn-primary-main);--c-interactive-04:var(--ttn-primary-200);--c-interactive-05:var(--white);--c-text-01:var(--ttn-primary-dark);--c-text-02:var(--ttn-primary-main);--c-text-03:var(--grey-900);--c-text-04:var(--grey-500);--c-text-05:var(--grey-300);--c-text-06:var(--white);--c-line-01:var(--ttn-primary-main);--c-line-02:var(--ttn-primary-200);--c-line-03:var(--grey-400);--c-line-04:var(--grey-500);--c-line-05:var(--grey-300);--c-line-06:var(--grey-200);--c-line-07:var(--white);--c-icon-01:var(--ttn-primary-dark);--c-icon-02:var(--ttn-primary-main);--c-icon-03:var(--grey-900);--c-icon-04:var(--grey-500)}.theme-tti{--c-background-01:var(--tti-primary-200);--c-background-02:var(--tti-primary-100);--c-background-03:var(--tti-primary-050);--c-background-04:var(--white);--c-interactive-01:var(--tti-primary-dark);--c-interactive-02:var(--tti-primary-600);--c-interactive-03:var(--tti-primary-main);--c-interactive-04:var(--tti-primary-200);--c-interactive-05:var(--white);--c-text-01:var(--tti-primary-dark);--c-text-02:var(--tti-primary-main);--c-text-03:var(--grey-900);--c-text-04:var(--grey-500);--c-text-05:var(--grey-300);--c-text-06:var(--white);--c-line-01:var(--tti-primary-main);--c-line-02:var(--tti-primary-200);--c-line-03:var(--grey-400);--c-line-04:var(--grey-500);--c-line-05:var(--grey-300);--c-line-06:var(--grey-200);--c-line-07:var(--white);--c-icon-01:var(--tti-primary-dark);--c-icon-02:var(--tti-primary-main);--c-icon-03:var(--grey-900);--c-icon-04:var(--grey-500)}.theme-ttc{--c-background-01:var(--ttc-primary-200);--c-background-02:var(--ttc-primary-100);--c-background-03:var(--ttc-primary-050);--c-background-04:var(--white);--c-interactive-01:var(--ttc-primary-dark);--c-interactive-02:var(--ttc-primary-600);--c-interactive-03:var(--ttc-primary-main);--c-interactive-04:var(--ttc-primary-200);--c-interactive-05:var(--white);--c-text-01:var(--ttc-primary-dark);--c-text-02:var(--ttc-primary-main);--c-text-03:var(--grey-900);--c-text-04:var(--grey-500);--c-text-05:var(--grey-300);--c-text-06:var(--white);--c-line-01:var(--ttc-primary-main);--c-line-02:var(--ttc-primary-200);--c-line-03:var(--grey-400);--c-line-04:var(--grey-500);--c-line-05:var(--grey-300);--c-line-06:var(--grey-200);--c-line-07:var(--white);--c-icon-01:var(--ttc-primary-dark);--c-icon-02:var(--ttc-primary-main);--c-icon-03:var(--grey-900);--c-icon-04:var(--grey-500)}.theme-tts{--c-background-01:var(--tts-primary-200);--c-background-02:var(--tts-primary-100);--c-background-03:var(--tts-primary-050);--c-background-04:var(--white);--c-interactive-01:var(--tts-primary-dark);--c-interactive-02:var(--tts-primary-600);--c-interactive-03:var(--tts-primary-main);--c-interactive-04:var(--tts-primary-200);--c-interactive-05:var(--white);--c-text-01:var(--tts-primary-dark);--c-text-02:var(--tts-primary-main);--c-text-03:var(--grey-900);--c-text-04:var(--grey-500);--c-text-05:var(--grey-300);--c-text-06:var(--white);--c-line-01:var(--tts-primary-main);--c-line-02:var(--tts-primary-200);--c-line-03:var(--grey-400);--c-line-04:var(--grey-500);--c-line-05:var(--grey-300);--c-line-06:var(--grey-200);--c-line-07:var(--white);--c-icon-01:var(--tts-primary-dark);--c-icon-02:var(--tts-primary-main);--c-icon-03:var(--grey-900);--c-icon-04:var(--grey-500)}:root{--fs-s:.875rem;--fs-m:1rem;--fs-l:1.25rem;--fs-xl:1.563rem;--fs-xxl:1.875rem;--fs-x3l:2.5rem}:root{--lh-s:1.357;--lh-m:1.375;--lh-l:1.4;--lh-xl:1.2;--lh-xxl:1.166;--lh-x3l:1.125}:root{--fw-light:300;--fw-normal:400;--fw-bold:600;--fw-bolder:700}:root{--fwh-normal:400;--fwh-bold:700;--fwh-bolder:900}:root{--cs-xxs:.25rem;--cs-xs:.5rem;--cs-s:.75rem;--cs-m:1rem;--cs-l:1.25rem;--cs-xl:1.5rem;--cs-xxl:2rem;--cs-xl3:3rem}:root{--ls-xxs:1rem;--ls-xs:1.25rem;--ls-s:2rem;--ls-m:3rem;--ls-l:5rem;--ls-xl:6.25rem;--ls-xxl:10rem;--ls-xl3:12.5rem}:root{--zi-max:9999;--zi-tooltip:20;--zi-overlay:10;--zi-dropdown:9;--zi-slight:1}:root{--grid-column-gap:1rem;--grid-row-gap:1rem}:root{--br-s:.3rem;--br-m:.6rem;--br-l:.9rem}:root{--bp-xl:1600px;--bp-l:1280px;--bp-m:1080px;--bp-s:768px;--bp-xs:620px;--bp-xxs:480px;--bp-xs3:376px}:root{--header-height:4rem;--header-dropdown-offset:3.5rem}html,body{font-size:16px;height:100%;font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}h1{font-family:'ITC Avant Garde Pro',-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}.grid{display:grid;column-gap:var(--grid-column-gap);row-gap:var(--grid-row-gap);width:100%}.grid:not(.auto-columns){grid-template-columns:repeat(12,minmax(0,1fr))}.grid.auto-columns{grid-template-columns:repeat(auto-fit,minmax(3rem,1fr))}.grid .item-1{grid-column-end:span 1}.grid .item-2{grid-column-end:span 2}.grid .item-3{grid-column-end:span 3}.grid .item-4{grid-column-end:span 4}.grid .item-5{grid-column-end:span 5}.grid .item-6{grid-column-end:span 6}.grid .item-7{grid-column-end:span 7}.grid .item-8{grid-column-end:span 8}.grid .item-9{grid-column-end:span 9}.grid .item-10{grid-column-end:span 10}.grid .item-11{grid-column-end:span 11}.grid .item-12{grid-column-end:span 12}.grid .item-start-1{grid-column-start:1}.grid .item-start-2{grid-column-start:2}.grid .item-start-3{grid-column-start:3}.grid .item-start-4{grid-column-start:4}.grid .item-start-5{grid-column-start:5}.grid .item-start-6{grid-column-start:6}.grid .item-start-7{grid-column-start:7}.grid .item-start-8{grid-column-start:8}.grid .item-start-9{grid-column-start:9}.grid .item-start-10{grid-column-start:10}.grid .item-start-11{grid-column-start:11}.grid .item-start-12{grid-column-start:12}@media screen and (max-width:1600px){.grid .item-xl-1{grid-column-end:span 1}.grid .item-start-xl-1{grid-column-start:1}.grid .item-xl-2{grid-column-end:span 2}.grid .item-start-xl-2{grid-column-start:2}.grid .item-xl-3{grid-column-end:span 3}.grid .item-start-xl-3{grid-column-start:3}.grid .item-xl-4{grid-column-end:span 4}.grid .item-start-xl-4{grid-column-start:4}.grid .item-xl-5{grid-column-end:span 5}.grid .item-start-xl-5{grid-column-start:5}.grid .item-xl-6{grid-column-end:span 6}.grid .item-start-xl-6{grid-column-start:6}.grid .item-xl-7{grid-column-end:span 7}.grid .item-start-xl-7{grid-column-start:7}.grid .item-xl-8{grid-column-end:span 8}.grid .item-start-xl-8{grid-column-start:8}.grid .item-xl-9{grid-column-end:span 9}.grid .item-start-xl-9{grid-column-start:9}.grid .item-xl-10{grid-column-end:span 10}.grid .item-start-xl-10{grid-column-start:10}.grid .item-xl-11{grid-column-end:span 11}.grid .item-start-xl-11{grid-column-start:11}.grid .item-xl-12{grid-column-end:span 12}.grid .item-start-xl-12{grid-column-start:12}}@media screen and (max-width:1280px){.grid .item-l-1{grid-column-end:span 1}.grid .item-start-l-1{grid-column-start:1}.grid .item-l-2{grid-column-end:span 2}.grid .item-start-l-2{grid-column-start:2}.grid .item-l-3{grid-column-end:span 3}.grid .item-start-l-3{grid-column-start:3}.grid .item-l-4{grid-column-end:span 4}.grid .item-start-l-4{grid-column-start:4}.grid .item-l-5{grid-column-end:span 5}.grid .item-start-l-5{grid-column-start:5}.grid .item-l-6{grid-column-end:span 6}.grid .item-start-l-6{grid-column-start:6}.grid .item-l-7{grid-column-end:span 7}.grid .item-start-l-7{grid-column-start:7}.grid .item-l-8{grid-column-end:span 8}.grid .item-start-l-8{grid-column-start:8}.grid .item-l-9{grid-column-end:span 9}.grid .item-start-l-9{grid-column-start:9}.grid .item-l-10{grid-column-end:span 10}.grid .item-start-l-10{grid-column-start:10}.grid .item-l-11{grid-column-end:span 11}.grid .item-start-l-11{grid-column-start:11}.grid .item-l-12{grid-column-end:span 12}.grid .item-start-l-12{grid-column-start:12}}@media screen and (max-width:1080px){.grid .item-m-1{grid-column-end:span 1}.grid .item-start-m-1{grid-column-start:1}.grid .item-m-2{grid-column-end:span 2}.grid .item-start-m-2{grid-column-start:2}.grid .item-m-3{grid-column-end:span 3}.grid .item-start-m-3{grid-column-start:3}.grid .item-m-4{grid-column-end:span 4}.grid .item-start-m-4{grid-column-start:4}.grid .item-m-5{grid-column-end:span 5}.grid .item-start-m-5{grid-column-start:5}.grid .item-m-6{grid-column-end:span 6}.grid .item-start-m-6{grid-column-start:6}.grid .item-m-7{grid-column-end:span 7}.grid .item-start-m-7{grid-column-start:7}.grid .item-m-8{grid-column-end:span 8}.grid .item-start-m-8{grid-column-start:8}.grid .item-m-9{grid-column-end:span 9}.grid .item-start-m-9{grid-column-start:9}.grid .item-m-10{grid-column-end:span 10}.grid .item-start-m-10{grid-column-start:10}.grid .item-m-11{grid-column-end:span 11}.grid .item-start-m-11{grid-column-start:11}.grid .item-m-12{grid-column-end:span 12}.grid .item-start-m-12{grid-column-start:12}}@media screen and (max-width:768px){.grid .item-s-1{grid-column-end:span 1}.grid .item-start-s-1{grid-column-start:1}.grid .item-s-2{grid-column-end:span 2}.grid .item-start-s-2{grid-column-start:2}.grid .item-s-3{grid-column-end:span 3}.grid .item-start-s-3{grid-column-start:3}.grid .item-s-4{grid-column-end:span 4}.grid .item-start-s-4{grid-column-start:4}.grid .item-s-5{grid-column-end:span 5}.grid .item-start-s-5{grid-column-start:5}.grid .item-s-6{grid-column-end:span 6}.grid .item-start-s-6{grid-column-start:6}.grid .item-s-7{grid-column-end:span 7}.grid .item-start-s-7{grid-column-start:7}.grid .item-s-8{grid-column-end:span 8}.grid .item-start-s-8{grid-column-start:8}.grid .item-s-9{grid-column-end:span 9}.grid .item-start-s-9{grid-column-start:9}.grid .item-s-10{grid-column-end:span 10}.grid .item-start-s-10{grid-column-start:10}.grid .item-s-11{grid-column-end:span 11}.grid .item-start-s-11{grid-column-start:11}.grid .item-s-12{grid-column-end:span 12}.grid .item-start-s-12{grid-column-start:12}}@media screen and (max-width:620px){.grid .item-xs-1{grid-column-end:span 1}.grid .item-start-xs-1{grid-column-start:1}.grid .item-xs-2{grid-column-end:span 2}.grid .item-start-xs-2{grid-column-start:2}.grid .item-xs-3{grid-column-end:span 3}.grid .item-start-xs-3{grid-column-start:3}.grid .item-xs-4{grid-column-end:span 4}.grid .item-start-xs-4{grid-column-start:4}.grid .item-xs-5{grid-column-end:span 5}.grid .item-start-xs-5{grid-column-start:5}.grid .item-xs-6{grid-column-end:span 6}.grid .item-start-xs-6{grid-column-start:6}.grid .item-xs-7{grid-column-end:span 7}.grid .item-start-xs-7{grid-column-start:7}.grid .item-xs-8{grid-column-end:span 8}.grid .item-start-xs-8{grid-column-start:8}.grid .item-xs-9{grid-column-end:span 9}.grid .item-start-xs-9{grid-column-start:9}.grid .item-xs-10{grid-column-end:span 10}.grid .item-start-xs-10{grid-column-start:10}.grid .item-xs-11{grid-column-end:span 11}.grid .item-start-xs-11{grid-column-start:11}.grid .item-xs-12{grid-column-end:span 12}.grid .item-start-xs-12{grid-column-start:12}}@media screen and (max-width:480px){.grid .item-xxs-1{grid-column-end:span 1}.grid .item-start-xxs-1{grid-column-start:1}.grid .item-xxs-2{grid-column-end:span 2}.grid .item-start-xxs-2{grid-column-start:2}.grid .item-xxs-3{grid-column-end:span 3}.grid .item-start-xxs-3{grid-column-start:3}.grid .item-xxs-4{grid-column-end:span 4}.grid .item-start-xxs-4{grid-column-start:4}.grid .item-xxs-5{grid-column-end:span 5}.grid .item-start-xxs-5{grid-column-start:5}.grid .item-xxs-6{grid-column-end:span 6}.grid .item-start-xxs-6{grid-column-start:6}.grid .item-xxs-7{grid-column-end:span 7}.grid .item-start-xxs-7{grid-column-start:7}.grid .item-xxs-8{grid-column-end:span 8}.grid .item-start-xxs-8{grid-column-start:8}.grid .item-xxs-9{grid-column-end:span 9}.grid .item-start-xxs-9{grid-column-start:9}.grid .item-xxs-10{grid-column-end:span 10}.grid .item-start-xxs-10{grid-column-start:10}.grid .item-xxs-11{grid-column-end:span 11}.grid .item-start-xxs-11{grid-column-start:11}.grid .item-xxs-12{grid-column-end:span 12}.grid .item-start-xxs-12{grid-column-start:12}}@media screen and (max-width:376px){.grid .item-xs3-1{grid-column-end:span 1}.grid .item-start-xs3-1{grid-column-start:1}.grid .item-xs3-2{grid-column-end:span 2}.grid .item-start-xs3-2{grid-column-start:2}.grid .item-xs3-3{grid-column-end:span 3}.grid .item-start-xs3-3{grid-column-start:3}.grid .item-xs3-4{grid-column-end:span 4}.grid .item-start-xs3-4{grid-column-start:4}.grid .item-xs3-5{grid-column-end:span 5}.grid .item-start-xs3-5{grid-column-start:5}.grid .item-xs3-6{grid-column-end:span 6}.grid .item-start-xs3-6{grid-column-start:6}.grid .item-xs3-7{grid-column-end:span 7}.grid .item-start-xs3-7{grid-column-start:7}.grid .item-xs3-8{grid-column-end:span 8}.grid .item-start-xs3-8{grid-column-start:8}.grid .item-xs3-9{grid-column-end:span 9}.grid .item-start-xs3-9{grid-column-start:9}.grid .item-xs3-10{grid-column-end:span 10}.grid .item-start-xs3-10{grid-column-start:10}.grid .item-xs3-11{grid-column-end:span 11}.grid .item-start-xs3-11{grid-column-start:11}.grid .item-xs3-12{grid-column-end:span 12}.grid .item-start-xs3-12{grid-column-start:12}}@font-face{font-family:'Inter';font-style:normal;font-weight:300;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/ab15890d6f6bc7f32adf.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/3ee890bd00a8751acbc3.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:300;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/c0c6857dccbc0f214912.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/b199a1a00fd163232925.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:normal;font-weight:400;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/26a30a5f1103393aac70.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/e148c4a1158f8cee8285.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:400;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/b89e547a163c899c5373.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/d3b5fcca5f6ef7f595b7.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:normal;font-weight:500;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/d0a58d956cf2f4cf078f.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/eec0ea57721daa33c7a2.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:500;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/dd1448de60455cc80292.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/77fc6c7d62496a309e7e.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:normal;font-weight:600;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/2244d96c512f88f08b88.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/d2e3b0e279b56b207eb6.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:600;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/3c66f84b976b1899f3e3.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/349f63a50b4a84257ec5.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:normal;font-weight:700;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/df60e0aa5fcfd8bb7d54.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/828b5dfc027ace162d5d.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:700;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/303520752ccc1e68c9d0.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/6b5fde51feaa4e40f3f1.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:normal;font-weight:900;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/768169b1912340d378ac.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/7bb6234314ccc72c942a.woff?v=3.15) format('woff')}@font-face{font-family:'Inter';font-style:italic;font-weight:900;font-display:swap;src:url(//ttui.thethingsindustries.com/assets/71da97fdc035aa0d4138.woff2?v=3.15) format('woff2'),url(//ttui.thethingsindustries.com/assets/c769882ba068cfc6fe80.woff?v=3.15) format('woff')}@font-face{font-family:'ITC Avant Garde Pro';font-style:normal;font-weight:600;font-display:fallback;src:local('ITC Avant Garde Pro'),local('ITC Avant Garde Pro'),url(//ttui.thethingsindustries.com/assets/390257c89b01e252c81a.eot?#iefix) format('embedded-opentype'),url(//ttui.thethingsindustries.com/assets/a28e9a6c71d0b5358149.woff2) format('woff2'),url(//ttui.thethingsindustries.com/assets/d4fb9b14d9d063def9d5.woff) format('woff'),url(//ttui.thethingsindustries.com/assets/5a488c0417e579847e85.ttf) format('truetype'),url(//ttui.thethingsindustries.com/assets/697ced04db7b71efaa1d.svg#Inter) format('svg')}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(/device-repository/assets/Inter-Light.ab15890d6f6bc7f32adfa1e1e354ee54.woff2) format('woff2'), url(/device-repository/assets/Inter-Light.3ee890bd00a8751acbc304ad01c3a9e0.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url(/device-repository/assets/Inter-LightItalic.c0c6857dccbc0f214912cd2961ff1bb5.woff2) format('woff2'), url(/device-repository/assets/Inter-LightItalic.b199a1a00fd1632329258560ee270abc.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(/device-repository/assets/Inter-Regular.26a30a5f1103393aac705d28b5e3aeb9.woff2) format('woff2'), url(/device-repository/assets/Inter-Regular.e148c4a1158f8cee82857dd0dcac4374.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url(/device-repository/assets/Inter-Italic.b89e547a163c899c5373685ddb527412.woff2) format('woff2'), url(/device-repository/assets/Inter-Italic.d3b5fcca5f6ef7f595b79b8b79bdbece.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(/device-repository/assets/Inter-Medium.d0a58d956cf2f4cf078fe28595725588.woff2) format('woff2'), url(/device-repository/assets/Inter-Medium.eec0ea57721daa33c7a2e060d38e2309.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url(/device-repository/assets/Inter-MediumItalic.dd1448de60455cc802923d8ccbd70fc4.woff2) format('woff2'), url(/device-repository/assets/Inter-MediumItalic.77fc6c7d62496a309e7e30a11bad436d.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(/device-repository/assets/Inter-SemiBold.2244d96c512f88f08b88bb92987c2df7.woff2) format('woff2'), url(/device-repository/assets/Inter-SemiBold.d2e3b0e279b56b207eb66b5fa54b5cea.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url(/device-repository/assets/Inter-SemiBoldItalic.3c66f84b976b1899f3e33a587a48eb17.woff2) format('woff2'), url(/device-repository/assets/Inter-SemiBoldItalic.349f63a50b4a84257ec5612471ba3935.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(/device-repository/assets/Inter-Bold.df60e0aa5fcfd8bb7d5494a66276916b.woff2) format('woff2'), url(/device-repository/assets/Inter-Bold.828b5dfc027ace162d5d154f5eed76b0.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url(/device-repository/assets/Inter-BoldItalic.303520752ccc1e68c9d0eee94205a504.woff2) format('woff2'), url(/device-repository/assets/Inter-BoldItalic.6b5fde51feaa4e40f3f13d4e51525a09.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(/device-repository/assets/Inter-Black.768169b1912340d378ac244d7579a54c.woff2) format('woff2'), url(/device-repository/assets/Inter-Black.7bb6234314ccc72c942a36382ea68682.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url(/device-repository/assets/Inter-BlackItalic.71da97fdc035aa0d413825e0eb2f9b06.woff2) format('woff2'), url(/device-repository/assets/Inter-BlackItalic.c769882ba068cfc6fe8078c4eae8fb8a.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'ITC Avant Garde Pro';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.thethingsnetwork.org/static/common/fonts/itc-avantgardepro-bold.c6493bb2adc2.otf") format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/device-repository/assets/ibm-plex-mono-regular.76a907068d4a7fcdc92f5cf6b5534c77.eot);
  src: local('IBM Plex Mono'), local('IBMPlexMono'), url(/device-repository/assets/ibm-plex-mono-regular.76a907068d4a7fcdc92f5cf6b5534c77.eot?#iefix) format('embedded-opentype'), url(/device-repository/assets/ibm-plex-mono-regular.c708fd4f02694c48059ff599eaab6a33.woff2) format('woff2'), url(/device-repository/assets/ibm-plex-mono-regular.12ead37cece64fd8fab042e14a60e810.woff) format('woff'), url(/device-repository/assets/ibm-plex-mono-regular.6adf3e3f773225c9af5cf6e23b632cfc.ttf) format('truetype'), url(/device-repository/assets/ibm-plex-mono-regular.9bb235b1d6bf1f4a174f87b4dbae57da.svg#IBMPlexMono) format('svg');
}
@font-face {
  font-display: block;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/device-repository/assets/materialicons.3146fcbfa119727b25783b92e09b8ba5.woff2) format('woff2');
}
.theme-ttn {
  --bs-01: 0 2px 15px 0 rgba(0,0,0,0.1);
  --fs-s: 0.875rem;
  --fs-x3l: 2.5rem;
}
body {
  background: var(--c-background-03);
  color: var(--c-text-03);
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
h1 {
  color: var(--c-text-02);
}
h2,
h3,
h4,
h5 {
  color: var(--c-text-01);
  font-family: 'ITC Avant Garde Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
a {
  color: var(--c-interactive-01);
}
a:hover {
  color: var(--c-interactive-02);
}
.btn {
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  font-family: 'Inter', 'Times New Roman';
  font-size: var(--fs-m);
  font-weight: normal;
  margin: 0 auto;
  opacity: 1;
  padding: 0.75rem 1rem;
  text-decoration: none;
  text-transform: none;
  transition: background-color 0.2s;
}
.btn.primary {
  background-color: var(--c-interactive-03);
  color: var(--c-interactive-05);
}
.btn.primary:hover {
  background-color: var(--c-interactive-02);
}
.content {
  margin: var(--cs-xl3) auto;
  max-width: var(--bp-l);
  padding: 0 var(--ls-xs) var(--ls-xs);
}
.device-single {
  text-align: center;
}
.device-single .grid {
  padding: var(--grid-column-gap);
}
.device-single__img {
  display: block;
  margin: 120px auto 100px;
  max-height: 40vh;
  max-width: 100%;
  width: auto;
}
.device-single__title {
  margin: 0 0 30px;
  text-align: center;
}
.device-single__description {
  text-align: center;
}
.device-single__cta {
  display: flex;
  justify-content: center;
  margin-bottom: var(--ls-l);
}
.device-single__cta a {
  margin: 0 0.5rem;
}
.device-single__specs {
  background: var(--c-background-04);
  border-radius: 10px;
  box-shadow: var(--bs-01);
  margin-bottom: var(--ls-l);
  padding: var(--cs-xl) var(--cs-xl3);
  text-align: left;
}
.device-single__specs h3 {
  color: var(--c-text-03);
  margin-top: 0;
}
.device-single__specs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.device-single__specs li {
  font-size: var(--fs-s);
  padding-bottom: var(--cs-xs);
}
.banner {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}
.banner .title {
  color: var(--c-text-02);
  font-size: var(--fs-x3l);
  font-weight: 700;
  margin: 0 0 50px;
}
.banner p {
  display: inline-block;
  font-size: var(--fs-l);
  margin: 0;
  max-width: 550px;
}
.device-list {
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: var(--cs-xxs);
  padding: 0;
  text-align: left;
}
.device-list .grid {
  padding: var(--grid-column-gap);
}
.device-list .grid > div {
  display: flex;
}
.device-list__image {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
.device-list__item {
  background-color: var(--c-background-04);
  border-radius: 10px;
  box-shadow: var(--bs-01);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 40rem;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  text-align: center;
}
.device-list__item .btn {
  margin: 0 auto;
  width: 10rem;
}
.device-list__item img {
  height: auto;
  max-width: 50%;
  padding: 40px 20px;
}
.device-list__item h2 {
  padding: 0 var(--cs-xl3);
}
.device-list__description {
  font-size: var(--fs-m);
  padding: 0 var(--cs-xxl);
}
.device-list__cta {
  display: flex;
}


/*# sourceMappingURL=683e51a3bf1679b882a5.style.css.map*/