

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/assets/favicon.ico" />
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ .Site.BaseURL }}/assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/assets/favicon-152.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/assets/favicon-144.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/assets/favicon-120.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/assets/favicon-180.png" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/assets/favicon-57.png" />
  <link rel="icon" href="{{ .Site.BaseURL }}/assets/favicon-32.png" sizes="32x32" />
  <link rel="icon" sizes="196x196" href="{{ .Site.BaseURL }}/assets/favicon-196.png" />

  <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

  <meta name="description" content="{{ .Params.description }}" />
  <meta itemprop="description" content="{{ .Params.description }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />

  <base href="{{ .Permalink }}">
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

  {{ with .Params.image }}
    <meta itemprop="image" content="{{ . | absURL }}" />
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
    <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ else }}
    <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
    <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
    <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
    <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
  {{ end }}

  <link rel="stylesheet" href="{{- (index .Site.Data.manifest `style.css`) | relURL -}}">

  {{ if eq .Page.RelPermalink "/device-repository/devices/"  }}
    <meta http-equiv="refresh" content="0; url=/device-repository/"/>
  {{end}}

</head>
